.AmazonPage-container {
  margin-top: 40px;
  margin-bottom: 70px;
  min-height: 40vh;
  border-radius: 10px;
/* background: linear-gradient(to right, rgb(45, 45, 45), rgb(46, 150, 25)); */
background: rgb(47, 47, 47);

}

.AmazonPage-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 16px;
  text-align: center;
}

.AmazonPage-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsl(26, 93%, 42%);
  margin-bottom: 16px;
  text-shadow: 2px 2px 2px rgb(27, 27, 27);


}

.floating-cart-total {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background: linear-gradient(to right, #3baf21, #1f971f);
  color: white;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1000;
}

.floating-cart-total .cart-icon {
  width: 20px;
  height: 20px;
}


.AmazonPage-subtitle {
  font-size: 1.25rem;
  color: #ffffff;
  margin-bottom: 32px;
    text-shadow: 2px 2px 2px rgb(5, 18, 5);
}

.AmazonPage-amazon-button {
  display: inline-flex;
  align-items: center;
  background-color: #FFD814;
  color: #111;
  font-weight: bold;
  padding: 12px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AmazonPage-amazon-button:hover {
  background-color: #F7CA00;
  transform: scale(1.05);
}

.AmazonPage-button-icon {
  margin-right: 8px;
  
}


@media (max-width: 768px) {
  .AmazonPage-title {
    font-size: 2rem;
  }
  
  .AmazonPage-subtitle {
    font-size: 1.125rem;
  }
}